@using Cap2_Lab4_Pagina298.APP
 
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Estilo.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="~/default.cshtml">
            <h1>
                Exemplo
            </h1>
        </a>
    </header>

    <section>

        <p>Comentarios:</p>

        <pre>
            @WebApp.ComentarioObter()
        </pre>
        
    </section>

</body>
</html>
