
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">

    <h2>História de Resident Evil</h2>

    <p classe="lead">
            Residente evil, uma história de zumbis,
                sobrevivencia e luta contra monstros poderosos,
        Aqui encontrara um pouco de sua história. 
    </p>
</div>

