
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">

    <h2>Perfil de Flavio</h2>

    <p class="lead">
        Sou Flávio uma pessoa que se cobra muito, sempre quer entregar o melhor, fazer o melhor, mas que sabe, que não é o melhor,
        apesar de acreditar e saber de minhas limitações e que nada que se entrega esta bom o suficiente, busco, talves não de forma correta,
        ou melhor, com o melhor método de estudo.
    </p>
    <hr />
    <p class="alert-info">
       Criar uma página para visualizar os contatos feitos pelo site; <br />
        Exibir uma legenda no portfólio;<br />
        Incluir uma foto de perfil na página inicial.
    </p>

</div>