@Model List<String>

    @{
        ViewBag.Title = "Mensagem";
    }

    <h2>Mensagem</h2>

    @foreach (string arquivo in ViewBag.msgRecebida)
    {
        <div>@arquivo</div>
        @Html.Hidden("CPF", arquivo)
    }

