@model EditoraFechaRocombole.Web.MVC.Models.ContatoModelView


@{
    ViewBag.Title = "Contato";
}

<h2>Contato</h2>
<br/>

@if (ViewBag.Mensagem != null)
{
    <script type="text/javascript">
        alert(@ViewBag.MensagemEnviada)
    </script>
}

<form action="/Inicio/Contato" method="post">

    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Seu nome">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Assunto</label>
        <input type="text" class="form-control" id="Assunto" name="Assunto" placeholder="Assunto">
    </div>

    <div class="form-group">
        <label for="ImputEmail">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="Seu e-mail">
    </div>

    <div>
        <label for="ImputEmail">Mensagem</label>
        <textarea class="form-control" id="Messagem" name="Mensagem" rows="3"></textarea>
    </div>

    <div>
    <button class="btn btn-primary" id="EnviarContato" value="Enviar">Enviar</button>
    </div>

</form>
