
@{
    ViewBag.Title = "Index";
}

<h2>Ola Mundo! Seja Bem vindo</h2>


<!-- Um título (h1) -->
<h1>Bem-vindo ao Curso de ASP.NET</h1>
<!-- um parágrafo (p) -->
<p>Isto é um parágrafo. </p>


<!-- linha em branco (br) -->
<br />
<!-- para outro site o caminho deve ser completo -->
<a href="http://www.microsoft.com">
    Isto é um HyperLink para uma página em outro site
</a>
<!-- linha em branco -->
<br />
 <!—
 para abrir em outra janela, usa-se o atributo "target"
-->
<a href="pagina.htm" target="_blank">
    Isto é um HyperLink para uma página em uma nova janela.
</a>
<!-- linha em branco -->
<br />
