@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h2>XPTO</h2>
    <p class="lead">Que sono da porra mano, se lasccar.</p>
  
    <p>
        <a href="QuemSomos" class="btn btn-primary">Saiba mais &raquo;</a>
    </p>
</div>

